body {
    font-family: 'Raleway', sans-serif;
    margin-top: 1px;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
}

#container {
    height: 100%;
    width: 100%;
}

 ul {
    list-style-type: none;
    padding-left: 0;
}

li a {
    text-decoration: none;   
}

/******************************   HEADER   ***********************/


header {
    display: flex;
    padding-left: 30px;
    margin-top: -4px;
    margin-bottom: 50px;
}

nav {
    display: flex;
justify-content: flex-end;
width: 100%;
flex-wrap: wrap;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 2px;
    padding-right: 20px;
    flex-wrap: wrap-reverse;
}
header ul li {
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
}

#header a {
    color: inherit;
}

#header ul a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

header a {
     padding-top: 30px;
 }

 #sincrire {
    display: flex;
}
.logo:hover {
    border: none;
}

.logo {
    padding-top: -2px;
}

#sincrire a {
    color: #0065FC;
    font-weight: 900;
}


/*********************************************** slogan **********************************/

#slogan {
    margin-left: 30px;
    margin-bottom: 20px;
}

#slogan h1 {
    font-size: 16px;
    margin-bottom: -10px;
}

#slogan p {
    font-size: 12px;
    font-weight: 100;
}

/************************************************* BARRE RECHERCHE ********************************/

.recherche {
    display: inline-flex;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 30px;
    margin-bottom: 30px;
}

.searchicon {
    padding: 0.5em;
    padding-right: 0.5em;
    background-color: #F2F2F2;
}

.searchbox {
    border: 0;
    padding-left: 1em;
}

.searchbutton {
    
    border: none;
    padding: 0.5em;
    border-radius: 0;
    color: white;
    background-color: #0065FC;
    border-radius:0px 0px 10px;
}

.searchbox::placeholder {
    color: black;
    font-weight: bold;
    opacity: 1;
}

/***************************************************** FILTRES ******************************************************/

#filtres {
    display: flex;
    flex-direction: column;
    flex flex-wrap: wrap;
    width: 90%;
    margin-left: 30px;
}
#filtres2 {
    display: flex;
    width: 100%;
}

#filtres3 {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
}

.bouton-filtres {
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.37);
    border-radius: 15px 15px;
    align-items: center;
    height: 30px;
    margin: 10px;
    margin-left: 15px;
}

.cercle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    color: #0065FC;
    margin-left: -1px;
}

.bouton-filtres p {
    font-weight: bold;
    padding: 12px;
}

#filtres p {
    font-weight: bold;
}


/******************************************nombre logements *********************/
#nombre-logements {
    display: flex;
    align-items: center;
}

#nombre-logements p {
    margin-left: 12px
}

#info i {
    font-size: 12px;
    color: #0065FC;
}

#info {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    border: 2px solid #F2F2F2;
    border-radius: 15px;
}



/**************************************** ARTICL +ASIDE **************************/

#aparts {
    background-color: red;
    display: flex;
}

article {
    background-color: yellow;
    width: 70%;
}

aside {
    background-color: green;
    width: 30%;
}


article figure 

/****************************************** FOOTER **************************/

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    background-color: #F2F2F2;
    margin-bottom: -10px;
    padding-bottom: 15px;
}

.footer3 { 
    margin-right: 260px;
}

.footer1 {
    margin-left: 35px;
}


