
ul, ul a {
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #F2F2F2;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}
