body {
    font-family: 'Raleway', sans-serif;
    margin-top: 1px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li a {
    text-decoration: none;   
}

/******************************   HEADER   ***********************/


header {
    display: flex;
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 30px;
}


nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}
nav ul {
    display: flex;
    margin-right: 80px;
}

nav ul li {
    padding: 0 30px;
}
#sincrire {
    color: #0065FC;
    font-weight: 600;
}

nav a {
    color: inherit;
}

nav a:hover {
    color: #0065FC;
}
 
.logo {
    margin-left: 15px;
    margin-top: 10px;
}

/*comment faire pour que la hauteur des 
ul = hauteur de la nav 
(pour pouvoir faire le a:hover boredr-top**/


/*********************************************** slogan **********************************/

#slogan {
    margin-left: 15px;
    margin-bottom: 20px;
}

#slogan h1 {
    font-size: 16px;
    margin-bottom: -10px;
}

#slogan p {
    font-size: 12px;
    font-weight: 100;
}

/************************************************* BARRE RECHERCHE ********************************/

.recherche {
    display: inline-flex;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 15px;
}

.searchicon {
    padding: 0.5em;
    padding-right: 0.5em;
    background-color: #F2F2F2;
}

.searchbox {
    border: 0;
    padding-left: 1em;
}

.searchbutton {
    
    border: none;
    padding: 0.5em;
    border-radius: 0;
    color: white;
    background-color: #0065FC;
}

.searchbox::placeholder {
    color: black;
    font-weight: bold;
}
/**** comment enlever boder left barre de recherche? 

/***************************************************** FILTRES ******************************************************/



